@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.font-logo {
	font-family: "Comfortaa", cursive;
	font-weight: 400;
	font-size: 5rem;
	position: relative;
	bottom: 100px;
	color: #7c5ef3;
}
.svg-logo {
	position: relative;
	bottom: 100px;
}
.welcome-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.welcome-text {
	font-size: 20px;
	text-align: center;
}
.welcome-button {
	background-color: #7c5ef3;
	border-radius: 8px;
	border: none;
	height: 52px;
	width: 80%;
	position: relative;
	top: 120px;
	color: white;
	font-size: 20px;
}

.tasks-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: rgb(170, 221, 220); */
	height: 100%;
	width: 100%;
}
.task {
	background-color: #fff;
	width: 80%;
	height: 72px;
	margin-top: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task:active {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.task-name {
	margin-left: 10px;
}
.task-svg {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
